<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include base/head.html %}

  <body>
    {% include base/google-tag-manager.html %}

    <main class="page">
      {% include layout/header.html %}

      {% include layout/navigation.html %}

      {% include layout/content/content-container.html %}

      {% include layout/footer.html %}
    </main>

    <script src="//www.google.com/recaptcha/api.js" async defer></script>
    <script src="//cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
