<head>
  <!-- Metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <!-- Site information -->
  <title>{{ site.title }} | {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- Style -->
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Shadows+Into+Light+Two">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.0/flexslider.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.0/fonts/flexslider-icon.eot">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.0/fonts/flexslider-icon.svg">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.0/fonts/flexslider-icon.ttf">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.0/fonts/flexslider-icon.woff">
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- JavaScript -->
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//www.googletagmanager.com">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//www.google.com">
  <link rel="dns-prefetch" href="//cdn.firebase.com">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
</head>
