/* =========================================================================
   RSVP
   ========================================================================= */

/* Give left padding to form labels */
#rsvpCodeForm label {
  padding-left: 5px;
}

/* Change alignment and spacing around form errors */
#rsvpCodeErrors {
  padding-top: 10px;
  text-align: left;
}
