/* =========================================================================
   Structure
   ========================================================================= */

/* Structure | Elements
 =========================================================================== */

/* Apply border-box sizing to root */
html {
  box-sizing: border-box;
}

/* Apply border-box sizing so elements take up actual allotted space */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove margin and padding from headers */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Structure | Classes
 =========================================================================== */

/* Display filler as inline block */
.filler_responsive {
  display: inline-block;

  /* Don't show the filler on large and up devices */
  @include breakpoint($mq-large) {
    display: none;
  }
}

/* Hidden by default */
.left {
  display: none;

  /* Display block and give left black border on large and up devices  */
  @include breakpoint($mq-large) {
    border-left: 2px dashed $black;
    display: block
  }
}

/* Hidden by default */
.right {
  display: none;

  /* Display block and give right black border on large and up devices  */
  @include breakpoint($mq-large) {
    border-right: 2px dashed $black;
    display: block
  }
}

/* Give right black border and make 30px tall */
.vertical_filler {
  border-right: 2px dashed $black;
  height: 30px;
}
